<div class="sign-in-container">
  <img src="/icons/BloodHound-Logo.png" alt="Logo" class="logo" />
  <h2>Sign in</h2>

  <div class="card">
    <ng-container *ngIf="!isLoading; else loading">
      <button mat-button class="github-btn" (click)="loginWithGithub()">
        <mat-icon svgIcon="github"></mat-icon>
        <!-- Continue with GitHub -->
        Continuar com GitHub
      </button>
    </ng-container>

    <ng-template #loading>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <!-- <p class="signup-text">
      Don’t have an account?
      Não tem uma conta?
      <a [routerLink]="'/signup'" class="signup-link">Sign up</a>
    </p> -->
  </div>
</div>
