.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color-text); // antes: white
}

h2 {
  margin-bottom: 24px;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

.left-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
}

.right-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.search-field {
  width: 100%;
}

.repo-card {
  background-color: #2a2a2a;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .repo-owner {
    margin-left: 12px;
    font-size: 0.8rem;
    color: #bbb;
  }

  mat-checkbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

