<aside class="sidebar">
  <div class="logo">
    <img src="/icons/BloodHound-Logo.png" alt="Logo" />
  </div>

  <nav class="menu">
    <a [routerLink]="'/pages/main/dashboard'">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a [routerLink]="'/rules'" routerLinkActive="active">
      <mat-icon>rule</mat-icon>
      Rules
    </a>
    <a [routerLink]="'/pages/main/repositories'" routerLinkActive="active">
      <mat-icon>storage</mat-icon>
      Repositories
    </a>
  </nav>

  <div class="account-section">
    <a [routerLink]="'/account/settings'" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      Settings
    </a>

    <button mat-button color="warn" class="signout-btn">
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
  </div>
</aside>
