<div class="landing-container">
  <nav class="navbar">
    <img src="/icons/BloodHound-Logo.png" alt="Bloodhound Logo" class="logo" />
    <button mat-raised-button color="primary" [routerLink]="'/auth/signin'">Sign In</button>
  </nav>

  <main class="main-content">
    <!-- <h1>How our AI code reviewer works</h1> -->
    <h1>Como nosso revisor de código de IA funciona</h1>
    <p class="subtitle">
      <!-- Install GitHub/GitLab application and that's pretty much it. -->
      Instale o aplicativo GitHub e pronto.
    </p>

    <section class="steps">
      <div class="step">
        <img src="/icons/github.png" alt="GitHub" />
        <!-- <h3>Step 1</h3> -->
        <h3>Passo 1</h3>
        <!-- <p class="title">Connect your code repository</p> -->
        <p class="title">Conecte seu repositório de código</p>
        <p class="desc">
          <!-- Link Bloodhound to your repository to give it access to your code.
          AI will start tracking and analyzing your codebase. -->
          Vincule o Bloodhound ao seu repositório para que ele tenha acesso ao seu código.
          A IA começará a rastrear e analisar sua base de código.
        </p>
      </div>
      <div class="step">
        <img src="/icons/pencil.png" alt="Pencil Icon" />
        <!-- <h3>Step 2</h3> -->
        <h3>Passo 2</h3>
        <!-- <p class="title">Define custom patterns</p> -->
        <p class="title">Defina padrões personalizados</p>
        <p class="desc">
          <!-- Create custom rules or pick from templates and our code reviewer
          will run these checks automatically. -->
          Crie regras personalizadas ou escolha entre modelos e nosso revisor de código
          executará essas verificações automaticamente.
        </p>
      </div>
      <div class="step">
        <img src="/icons/pull-request.png" alt="Pull Request" />
        <!-- <h3>Step 3</h3> -->
        <h3>Passo 3</h3>
        <!-- <p class="title">Open a pull request</p> -->
        <p class="title">Abra uma solicitação pull</p>
        <p class="desc">
          <!-- Submit your pull request and the tool will review your code, flag errors,
          and recommend fixes. -->
          Envie sua solicitação de pull e a ferramenta revisará seu código, sinalizará erros
          e recomendará correções.
        </p>
      </div>
    </section>
  </main>
</div>
