.auth-callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  gap: 1rem;
}

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
